node_modules/
.env
config/
logs/
*.log
.DS_Store
coverage/
dist/
build/
.nyc_output/
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
lib-cov
*.seed
*.pid
*.gz
private.pem
public.pem
coverage.html
*.orig
._*
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.nodemon
.nyc
.repl_history
.sass-cache
.git/modules
.git/info/attributes
.gitignore
!.git/attributes
!.git/hooks/
!.git/config
!.git/info/
!.git/objects/
!.git/refs/
!.git/HEAD
!.git/packed-refs
!.git/logs/
!.git/shallow
!.git/sequencer/
!.git/rebase-merge/
!.git/rebase-apply/
!.git/CHERRY_PICK_HEAD
!.git/COMMIT_EDITMSG
!.git/FETCH_HEAD
!.git/HEAD
!.git/ORIG_HEAD
!.git/PULLREQ_EDITMSG
!.git/TAG_EDITMSG
!.git/branches/
!.git/hooks/
!.git/info/
!.git/logs/
!.git/objects/
!.git/refs/
!.gitignore